.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;

  &__image {
    width: 48rem;
    height: 25rem;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid var(--border);
    border-radius: 0.5rem;

    overflow: hidden;
    transition: all 0.2s ease-in-out;

    &:hover {
      box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.13);
    }

    & img{
      width: calc(100% + 1rem);
      height: calc(100% + 0.5rem);

      object-fit: cover;
      object-position: center;
      border-radius: 0.5rem;
    }
  }

  &__grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
